In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
library('patchwork')

In [4]:
df_names = read_csv('unisex_names_table.txt')

Warning message:
“Missing column names filled in: 'X1' [1]”Parsed with column specification:
cols(
  X1 = col_double(),
  name = col_character(),
  total = col_double(),
  male_share = col_double(),
  female_share = col_double(),
  gap = col_double()
)

In [5]:
df_names %>% print

# A tibble: 919 x 6
      X1 name      total male_share female_share    gap
   <dbl> <chr>     <dbl>      <dbl>        <dbl>  <dbl>
 1     1 Casey   176544.      0.584        0.416 0.169
 2     2 Riley   154861.      0.508        0.492 0.0153
 3     3 Jessie  136382.      0.478        0.522 0.0443
 4     4 Jackie  132929.      0.421        0.579 0.158
 5     5 Avery   121797.      0.335        0.665 0.330
 6     6 Jaime   109870.      0.562        0.438 0.124
 7     7 Peyton   94896.      0.434        0.566 0.133
 8     8 Kerry    88964.      0.484        0.516 0.0321
 9     9 Jody     80401.      0.352        0.648 0.296
10    10 Kendall  79211.      0.372        0.628 0.255
# … with 909 more rows