1. Create a `Dockerfile` using the jupyter lab text editor

```Bash
docker run -it --rm -w ${PWD} -v ${PWD}:${PWD} -p 8888:8888 jupyter/r-notebook jupyter lab
```

2. With the first line in your `Dockerfile` inherit from the [r-notebook](https://hub.docker.com/r/jupyter/r-notebook) Docker image provided by the Jupyter team.
  - E.g. `FROM jupyter/r-notebook`

3. In the second line of your `Dockerfile` use `conda` and a `RUN` directive to install the latest versino of `tidyr`.
  - E.g. `RUN conda isntall -c conda-forge r-tidyr==1.0.0`

4. Close your Jupyter session.

5. Build an image using the `Dockerfile` you just created.

```Bash
docker build -t <some image name> .
```

6. Run your image.

```Bash
docker run -w ${PWD} -v ${PWD}:${PWD} -p 8888:8888 <image name>
```

(or if you prefer jupyter lab)

```Bash
docker run -w ${PWD} -v ${PWD}:${PWD} -p 8888:8888 <image name> jupyter lab
```

7. Read this `CSV` into a `tibble` in an R notebook:

https://github.com/fivethirtyeight/data/blob/master/unisex-names/unisex_names_table.csv

8. Pivot the data so `male_share` and `female_share` are in the same column.

9. Turn the `name` column into a factor where the levels are sorted by the `total` column.

10. Create a similar stacked bar chart from the data to this. FiveThiryEight visualization:

<img src="https://fivethirtyeight.com/wp-content/uploads/2015/06/flowers-datalab-unisexnames-1.png" />